/* Background Illustrations */

.background-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: -10;
}

.sky-up {
  width: 100vw;
  height: 25vh;
  /* background: #1D4245 url('assets/svg/sky-up-pattern.svg') repeat-x bottom left fixed; */
  background-color: #1D4245;
  background-image: url('../assets/svg/sky-up-pattern.svg');
  background-repeat: repeat-x;
  background-position: bottom;
  /* background-attachment: fixed; */
}

.sky-down {
  width: 100vw;
  height: 10vh;
  background: #163133;
  background-image: url('../assets/svg/sky-down-pattern.svg');
  background-repeat: repeat;
}

.air {
  width: 100vw;
  height: 43vh;
  background: #132B2D;
  background-image: url('../assets/svg/air-pattern.svg');
  background-repeat: repeat-x;
  background-position: top;
}

.ground {
  width: 100vw;
  height: 22vh;
  background: #061011;
}

.clouds {
  position: fixed;
  top: 2%;
  width: 100vw;
  height: 100vw;
  background-image: url('../assets/svg/clouds.svg');
  background-repeat: repeat-x;
  background-position: top left;
  background-size: contain;
}


.trees {
  position: fixed;
  bottom: 5%;
  width: 100vw;
  height: 100vw;
  background-image: url(../assets/svg/trees.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: contain;
}

.bat-left {
  position: fixed;
  bottom: 45%;
  left: 12%;
  width: 126px;
  height: 52px;
  background-image: url(../assets/svg/bat.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes move1 {
  0% {
    left: 12%;
    bottom: 45%;
  }
  25% {
    left: 14%;
    bottom: 46%;
  }
  50% {
    left: 12%;
    bottom: 44%;
  }
  75% {
    left: 13%;
    bottom: 46%;
  }
  100% {
    left: 12%;
    bottom: 45%;
  }
}

.bat-right {
  position: fixed;
  bottom: 55%;
  right: 8%;
  width: 126px;
  height: 52px;
  background-image: url(../assets/svg/bat.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

@keyframes move2 {
  0% {
    right: 8%;
    bottom: 55%;
  }
  25% {
    right: 10%;
    bottom: 56%;
  }
  50% {
    right: 8%;
    bottom: 54%;
  }
  75% {
    right: 9%;
    bottom: 56%;
  }
  100% {
    right: 8%;
    bottom: 55%;
  }
}

@keyframes float {
  from {
     background-position: 0 0;
  }
  to {
     background-position: 1476px 0;
  }
}

@keyframes trees {
  from {
     background-position: 0 0;
  }
  to {
     background-position: 1476px 0;
  }
}

@media screen and (max-width: 1024px){
  .clouds {
    top: -5%;
    background-position: top center;
    background-size: 170%;
  }
  .trees {
    display: none;
  }
}

@media screen and (max-width: 900px){
  body {
    background: #061011;
    justify-content: start;
  }
  .background-wrapper {
    display: none;
  }
}

/* @media screen and (min-height: 900px) {
  .air {
    height: 30vh;
  }
  .ground {
    height: 35vh;
  }
  .trees {
    bottom: 20%;
  };
} */


