:root {
  --bg-global-primary: #101314;
  --bg-global-secondary: #1C2023;
  --bg-control-default: #2D3439;
  --bg-control-hover: #464E53;
  --bg-control-active: #BFDDE2;
  --bg-error-control-default: #4B2A2A;;
  --bg-error-control-hover: #823B3B;
  --default-text: #FEFEFE;
  --default-text-inverse:var(--bg-global-primary);
  --accent-default: #EC6747;
  --accent-hover: #EE5632;
  --fs-desktop-default-16: 16px;
  --fs-mobile-default: 17px;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-36: 36px;
  --br-36: 36px;
  --br-24: 24px;
  --br-16: 16px;
  --br-8: 8px;
  --fm-default: 'Inter', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-36: 36px;
  --spacing-48: 48px;
  --spacing-64: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  font-size: var(--fs-desktop-default-16);
  background-color: var(--bg-control-active);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fm-default);
  font-weight: var(--fw-regular);
  color: var(--default-text);
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img {
  display: block;
}

/* Main containers */

.container {
  width: 65vw;
  height: 90vh;
  background-color: var(--bg-global-primary);
  border-radius: var(--br-36);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.player-wrapper,
.main-playlist-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-48);
}

.player-wrapper {
  justify-content: center;
  align-items: center;
  background-color: var(--bg-global-secondary);
  gap: var(--spacing-36);
}

.main-playlist-wrapper {
  position: relative;
  background-color: var(--bg-global-primary);
  gap: var(--spacing-36);
}

.main-playlist-wrapper::after {
  content: '';
    position: absolute;
    bottom: var(--spacing-48);
    display: block;
    width: 100%;
    height: 10%;
    background: linear-gradient(180deg, rgba(20, 24, 25, 0.00) 0%, var(--bg-global-primary) 100%);
}

/* Cover */

.cover-wrapper {
  max-width: 20em;
  max-height: 20em;
  border-radius: var(--br-24);
  overflow: hidden;
  box-shadow: 0px 15.98049px 63.92195px 0px rgba(13, 13, 13, 0.80);
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Song Infos */

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:var(--spacing-12);
  text-align: center;
}

.song-title {
  font-size: var(--br-24);
  font-weight: var(--fw-medium);
  margin: 0;
}

.song-author {
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  letter-spacing: 0.6px;
  opacity: 0.6;
}

/* Controls */

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-24);
}

.control {
  border-radius: 100%;
  padding: var(--spacing-12);
  background-color: var(--bg-control-default);
  opacity: 0.85;
  transition: background-color 0.6s ease, opacity 0.6s ease, filter 0.6s ease;
}

.control-previous,
.control-next {
  width: 4em;
  height: 4em;
}

.control-previous {
  background: var(--bg-control-default) center/50% no-repeat url(../assets/svg/previous-sign.svg);
}

.control-next {
  background: var(--bg-control-default) center/50% no-repeat url(../assets/svg/next-sign.svg);
}

.control-sound {
  width: 6em;
  height: 6em;
  padding: var(--spacing-36);

  background: var(--accent-default) center/50% no-repeat url(../assets/svg/play-sign.svg);

  filter: drop-shadow(0px 3px 7px rgba(236, 103, 71, 0.10))
          drop-shadow(0px 13px 13px rgba(236, 103, 71, 0.09))
          drop-shadow(0px 29px 18px rgba(236, 103, 71, 0.05))
          drop-shadow(0px 52px 21px rgba(236, 103, 71, 0.01))
          drop-shadow(0px 82px 23px rgba(236, 103, 71, 0.00));
}

.volume-controls {
  display: flex;
  align-items: center;
  gap: var(--spacing-24);
}

.control-volume {
  width: 3em;
  height: 3em;
  background: var(--bg-control-default) center/50% no-repeat url(../assets/svg/volume-sign.svg);
}

.control-volume-stop {
  background: var(--bg-error-control-default) center/50% no-repeat url(../assets/svg/volume-mute-sign.svg);
}

.control-img {
  display: block;
  object-fit: cover;
}

.pause {
  background: var(--accent-default) center/50% no-repeat url(../assets/svg/pause-sign.svg);
}

/* States for left controls */

.control:hover {
  opacity: 1;
  background-color: var(--bg-control-hover);
}

.control-sound:hover {
  background-color: var(--accent-hover);
  filter: drop-shadow(0px 3px 6px rgba(236, 103, 71, 0.20)) drop-shadow(0px 11px 11px rgba(236, 103, 71, 0.17)) drop-shadow(0px 24px 15px rgba(236, 103, 71, 0.10)) drop-shadow(0px 43px 17px rgba(236, 103, 71, 0.03)) drop-shadow(0px 68px 19px rgba(236, 103, 71, 0.00));
}

.control-volume-stop:hover {
  opacity: 1;
  background-color: var(--bg-error-control-hover);
}


/* Progress Bar */

.pr-bar {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pr-bar-time {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-desktop-default-16);
  opacity: 0.6;
}


/* Styles for progress bar input */

input[type="range"].progress {
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"].progress {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: var(--bg-control-default);
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

input[type="range"].volume {
  width: 8em;
}

input[type="range"].progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 12px;
  background-color: #EC6747;
  /* border: 1px solid #EC6747; */
  box-shadow: -405px 10px 10px 400px #4f5a62;
  cursor: pointer;
}

/*
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  margin-left: 0px;
  height: 10px;
  width: 7px;
  border: 0;
  background: -webkit-linear-gradient(45deg, rgb(213, 213, 213), rgb(193, 255, 6));
  border-radius: 30px;
  cursor: pointer;
}

#progress-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  max-height: 5px;
  border-radius: 30px;
} */

input[type="range"].progress::-webkit-progress-value {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: linear-gradient(90deg, #BAEAF2 -5.92%, #EC6747 106.58%);
}

input[type="range"].progress:focus {
  outline: none;
}

/* Radio Controls */

.radio-panel-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.radio-panel-label {
  font-size: var(--fs-16);
  opacity: 0.6;
}

#pills {
  display: flex;
  gap: var(--spacing-8);
  flex-wrap: wrap;
}

.radio-pill {
  display: flex;
  font-size: 12px;
  font-weight: var(--fw-medium);
  gap: var(--spacing-8);
  padding: var(--spacing-12) var(--spacing-16);
  background-color: var(--bg-control-default);
  border-radius: 8em;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.radio-pill:hover {
  background-color: var(--bg-control-hover);
}

#retro:checked ~ #pills label:nth-child(1),
#road:checked ~ #pills label:nth-child(2),
#punk:checked ~ #pills label:nth-child(3),
#electro:checked ~ #pills label:nth-child(4),
#love:checked ~ #pills label:nth-child(5),
#beauty:checked ~ #pills label:nth-child(6) {
  background-color: var(--bg-control-active);
  color: var(--default-text-inverse);
}

.radio-pill span {
  display: inline-block;
}

.radio-pill span:nth-child(2) {
  opacity: 0.8;
  transition: opacity 0.6s ease;
}

.radio-pill span:nth-child(2):hover {
  opacity: 1;
}

.radio-controls-wrapper input {
  display: none;
}

/* Playlist */

.playlist-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 100%;
  overflow: auto;
}

.song-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-24);
  padding: var(--spacing-16);
  border-radius: var(--br-16);
  background-color: var(--bg-global-secondary);
  width: 100%;
}

.song-item-cover-wrapper {
  max-width: 3.5rem;
  max-height: 3.5rem;
  background-color: var(--bg-control-hover);
  border-radius: var(--br-8);
  overflow: hidden;
}

.song-item-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  justify-content: center;
}

.song-item-title {
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.3em;
}

.song-item-author {
  font-size: var(--fs-12);
  font-weight: var(--fw-regular);
  letter-spacing: 0.6px;
  opacity: 0.6;
  line-height: 1.2em;
}

.song-item-duration {
  font-size: var(--fs-12);
  font-weight: var(--fw-regular);
  opacity: 0.8;
}

.song-item-controls {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}

.song-item-control {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 2em;
  max-height: 2em;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 0 1em 1em;
  justify-content: space-between;
  align-items: end;
  color: var(--bg-global-primary);
  font-size: 12px;
}


.github-link:link,
.github-link:visited,
.github-link:focus,
.github-link:active {
  text-decoration: none;
  color: var(--bg-global-primary);
}

.github-link:hover {
  text-decoration: underline;
}

.rs-logo-wrapper {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
}

.rs-logo-img {
  display: block;
}